.amrap {
    
}

.amrap__input {
    background: transparent;
    color: var(--color--white);
    font-size: 7rem;
    height: 50%;
}

.amrap__countdown {
    color: var(--color--white);
    font-size: 7rem;
    height: 50%;
    text-align: center;
}

.amrap__button {
    border: 0;
    border-radius: 0;
    bottom: 0;
    clip-path: polygon(4% 0, 100% 8%, 100% 100%, 11% 100%);
    font-weight: 700;
    height: 25vw;
    position: absolute;
    right: 0;
    width: 25vw;
}